.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px; 
    color:white; 
    font-size: 48px;
    font-weight: bold;
    padding: 20px 30px 20px 30px;
    margin-left: 930px;
    
    } 
    .mid{margin-top:150px;}
    table{background-color: rgb(74, 89, 129);padding:40px 20px 40px 20px ;    width: 330px;margin-left: 800px;}
    input[type="button"] 
    { 
    margin-top: 5px;
    background-color:rgb(94, 107, 149); 
    color: white; 
    border: solid white 0px; 
    width:100% ;
    padding: 20px 30px 20px 30px;
    font-size: 12px;
    } 
    #resultss
    {margin-top: 5px;
        background-color:rgb(141, 138, 144); 
        color: white;
        font-size: 24px;
        border: solid white 0px; 
        padding: 20px 0px 20px 0px;
        width:100% ;
        text-align: start;}
    .eval{background-color: rgb(112, 105, 155);}
    .eval:hover{background-color: rgb(22, 26, 85);}
    input[type="text"] 
    { 
    margin-top: 5px;
    background-color:rgb(141, 138, 144); 
    color: white;
    font-size: 24px;
    border: solid white 0px; 
    padding: 20px 0px 20px 0px;
    width:100%; 
    text-align: end;
    } 
    body{
        background: linear-gradient(90deg, rgba(248,183,251,1) 0%, rgba(242,70,70,1) 28%, rgba(252,186,120,1) 47%, rgba(255,226,138,1) 61%, rgba(89,160,139,1) 81%, rgba(0,125,140,1) 90%, rgba(107,105,245,1) 100%);}
    